<!------============================================
; Title: Assignment 1.5
; Author: Professor Krasso
; Date: 9 July 2020
; Modified By: Brendan Mulhern
; Description: This is the profile app.
;====--->
<nav class="navbar">
  <a class="nav-link">Home</a>
  <a class="nav-link">About</a>
  <a class="nav-link">Contact</a>
</nav>
<h2>{{ assignment }}</h2>
<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Information</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><app-my-image></app-my-image></td>
      <td><app-my-details></app-my-details></td>
    </tr>
  </tbody>
</table>