<!------============================================
; Title: Assignment 1.5
; Author: Professor Krasso
; Date: 9 July 2020
; Modified By: Brendan Mulhern
; Description: This is the profile app.
;====--->
<nav class="navbar">
  <nav-link><a>Home</a></nav-link>
  <nav-link><a>About</a></nav-link>
  <nav-link><a>Contact</a></nav-link>
</nav>
<h2>{{ assignment }}</h2>
<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Full name</th>
      <th>Favorite Food</th>
      <th>Favorite Color</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><my-image></my-image></td>
      <td><my-details></my-details></td>
    </tr>
  </tbody>
</table>