<!------============================================
; Title: Assignment 2.4
; Author: Professor Krasso
; Date: 15 July 2020
; Modified By: Brendan Mulhern
; Description: This is the composer app.
;====--->
<img class="h-25 w-25 float-left" src="../../assets/mozart.png" alt="https://pixabay.com/vectors/mozart-man-person-artist-musician-161194/">
<h2>Mozart started playing music at an early age. By age 6 it was said that he could play multiple instuments (Biography.com, 2017). Mozart was alive during the mid-18th century (Biography.com, 2017) and he was fascinated by music. Overall he grew up to be one of the greatest composers ever to live. It was also said that he was one of the most "talented and prodigious musical composers of all time" (Biography.com, 2017). Mozart is a favorite composer of mine and I like him compared to others such as Bach and Beethoven.</h2>
<h3>Reference: Biography.com. (2017). Wolfgang Mozart Biography. Retrived from <a href="https://www.biography.com/musician/wolfgang-mozart">https://www.biography.com/musician/wolfgang-mozart</a> </h3>