<div main="container">
<br />
<mat-toolbar>
  <mat-toolbar-row>
    <div class="h-80"></div>
    <div fxLayout="row wrap" fxLayoutAlign="end start">
      <button mat-button routerLink="/book-list">Book-List</button>
      <bitton mat-button routerLink="/wishlist">Wishlist</bitton>
      <button mat-button routerLink="/contact">Contact</button>
      <button mat-button routerLink="/about">About</button>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex>
        <mat-card class="main-container">
          <mat-card-title>{{ assignment }}</mat-card-title>
        </mat-card>
      <br /><br />
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
</div>