<!---
; Title: Exercise 3.2 - Passsing Data to Routes, Part 1
; Author: Professor Krasso
; Date: 15 July 2020
; Modified By: Brendan Mulhern
; Description: This is the composer app.
---->
<nav class="navbar bg-dark text-light">
  <h1>Exercise 4.3 - Handling Events with Observables</h1>
  <a class="nav-link" routerLink="/composerList">Composer List</a>
  <a class="nav-link" routerLink="/about">About</a>
  <a class="nav-link" routerLink="/contact">Contact Us</a>
</nav>
<router-outlet></router-outlet>