<!------============================================
; Title: Assignment 1.5
; Author: Professor Krasso
; Date: 15 July 2020
; Modified By: Brendan Mulhern
; Description: This is the enhanced profile app.
;====--->
<nav class="navbar">
  <h2>{{ assignment }}</h2>
  <a class="nav-link">Home</a>
  <a class="nav-link">About</a>
  <a class="nav-link">Contact</a>
</nav>
<div *ngIf="isLoggedIn; else showError">
<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Information</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><app-my-image></app-my-image></td>
      <td><app-my-details></app-my-details></td>
    </tr>
  </tbody>
</table>
</div>
<ng-template #showError>
  <div class="row">
    <div class="col-12">
      <h1>You are not authorized to view this content</h1>
    </div>
  </div>
</ng-template>